<header class="navbar navbar-static-top bs-docs-nav" id="top">
    <div class="container">
        <div class="navbar-header" role="banner">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ 'index.html' | relative_url }}">{{ site.name }}</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Main Features <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li {% if page.title == 'Scientific Calculator' %}class="active"{% endif %}>
                            <a href="{{ site.github.url | replace: 'http://', '//' }}/scientific-calculator.html">Scientific Calculator</a>
                        </li>
                        <li {% if page.title == 'Math Console' %}class="active"{% endif %}>
                            <a href="{{ site.github.url | replace: 'http://', '//' }}/math-console.html">Math Console</a>
                        </li>
                        <li {% if page.title == 'Math Grapher' %}class="active"{% endif %}>
                            <a href="{{ site.github.url | replace: 'http://', '//' }}/math-grapher.html">Math Grapher</a>
                        </li>
                    </ul>
                </li>
                
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Custom Tools <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li {% if page.title == 'Calculators' %}class="active"{% endif %}>
                            <a href="{{ site.github.url | replace: 'http://', '//' }}/calculators.html">Calculators</a>
                        </li>
                        <li {% if page.title == 'Advanced Tools' %}class="active"{% endif %}>
                            <a href="{{ site.github.url | replace: 'http://', '//' }}/advanced-tools.html">Advanced Tools</a>
                        </li>
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% for p in site.links.header %}
                    <li>
                        <a href="{{ p.url }}">{{ p.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>
